<div class="container  mt-3">
<h2 class="text-center">Edit Project</h2>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron">
        <form #projectedit="ngForm"  (ngSubmit)="editProject(projectedit.value)"> 
            <div class="form-control">
                <label for="name">Enter Name</label>
                <input type="text" ngModel name="name" required autocomplete="off" class="form-control input-sm" placeholder="Project Name">&nbsp;
                </div>&nbsp;
            <div class="form-control">
                <label for="desc">Discription</label>
                <input type="text" ngModel name="desc" required autocomplete="off" class="form-control input-sm" placeholder="Project Discription">&nbsp;
            </div>&nbsp;
            <div class="form-control input-sm">
                <label for="label">Change Labels</label>
                <select class="form-select" ngModel name="labelId" aria-label="Default select example ">
                  <option selected>Sellect Labels</option>
                  <option *ngFor="let user of labels" value="{{user.id}}">
                    {{user.labelname}}
                  </option>
              </select>
              </div>&nbsp;
              <div class="form-control input-sm">
                <label for="label">Change Category</label>
                <select class="form-select" ngModel name="categoryId" aria-label="Default select example ">
                  <option selected>Sellect Labels</option>
                  <option *ngFor="let user of categories" value="{{user.id}}">
                    {{user.categoriesName}}
                  </option>
              </select>&nbsp;
              </div>&nbsp;
              <div class="form-control input-sm">
                <label for="role">change status</label>
                <select class="form-select"ngModel name="status" required aria-label="Default select example ">
                  <option selected disabled>Select status</option>
                  <option value="inprogress">In progress</option>
                  <option value="closed">Closed</option>
                  <option value="open">Open</option>
                </select>&nbsp;
              </div>&nbsp;
             
        </form>
        <form #multi="ngForm" (ngSubmit)="postusers(multi.value)">
        <div class="form-control input-sm">  
          <label for="usertableid">Select users</label>
          <select class="form-select" ngModel name="userTableId" multiple >
          <option selected disabled>Select Users For Task</option>
          <option *ngFor="let user of user" value="{{user.id}}">
            {{user.firstname}}
          </option>
          </select>
        </div>&nbsp;
         </form>
         <button type="submit" (click)="submitForms()" class="btn btn-success">Update</button>
        </div>
    </div>
  </div>
