<div class="container mt-3">
<h2 class="text-center">Login</h2>
<div class="row element-class ">
<div class="col-md-4">
</div>
<div class="col-md-4 col-md-offset-5">
<div class="jumbotron">
    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success !</strong> Login Successufully!
        <button (click)="closebtn()" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<form [formGroup]="loginForm" #user="ngForm" (ngSubmit)="login()">
<div class=" form-control">
<label class="label-default" for="email">Email</label>
<input type="email" formControlName="email"   autocomplete="off" class="form-control input-sm" placeholder="Email" required>&nbsp;
</div>&nbsp;
<div class=" form-control ">
<label for="Password">Password</label>
<input type="password" formControlName="password"   autocomplete="off" class="form-control input-sm" placeholder="Password" required>&nbsp;
</div>&nbsp;
<div >
<button [disabled]="!user.valid" type="submit" class="btn btn-success">Login</button>&nbsp;
<a routerLink="/resgistration"><button class="btn">Click here for  Register </button></a>
</div>
</form>

</div>

</div>

</div>
</div>
